{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for task in tasks %}
            <li>{{ task.label }}</li>
        {% else %}
            <li>{% trans %}task.emptyList{% endtrans %}</li>
        {% endfor %}
    </ul>

{% endblock %}