{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste des tâches</h2>
    <table class="table table-striped">

        {% for task in tasks %}
            <tr>
                <td>{{ task.label }}</td>
            </tr>
        {% else %}
            <tr>
                <td>
                    {% trans %}task.emptyList{% endtrans %}
                </td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}